* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
 padding:40px 20px;
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
}

.head {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #262626;
  margin-bottom: 10px;
}

.device_A822 {
  width: 1872px;
  height: 266px;
  border: 2.82px solid #000;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
      background: #F2F2F2;
}

.starting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 83px;
  height: 100%;
  padding: 7px 0px 0px;
  background: #2b2b2b;
  border-radius: 5px 0px 0px 5px;
}

.start_point {
  gap: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid_point {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.end_point {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  position: relative;
}
.pill {
  background: #fff;
}

.vertical {
  width: 48.5333251953125px;
  height: 11.762365341186523px;
  border-radius: 40%;
}

.circle {
  width: 15.253334045410156px;
  height: 7.188112258911133px;
  border-radius: 50%;
}

.horizontal {
  width: 12.480002403259277px;
  height: 22.871265411376953px;
  border-radius: 5px;
}

.big {
  width: 27.73333168029785px;
  height: 19.60394287109375px;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  bottom: -3px;
}

.wrapper {
  width: 340px;
  height: 100%;
  position: relative;
 
}
.neteng{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
      padding: 20px;
     position: absolute;
       
}
.neteng-text{
    font-family: Segoe UI;
font-weight: 400;
font-style: Regular;
font-size: 16px;



}
.netqr{
    width: 105px;
height: 34px;
background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #9f9f9f;
        display: flex;
    justify-content: space-between;
    align-items: center;
        padding: 0px 5px;


}
.net-line{
        display: flex;
    flex-direction: column;
    gap: 5px;
}
.net-line .line{
    width: 54px;
height: 1px;
background: #000;

}


.net-play{
    width: 28.393667221069336px;
height: 28.393667221069336px;
border-radius: 3px;
background: #C59327;
margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.two-net-play{
     position: absolute;
         bottom: 25%;
    left: 20px;
}










.card_polynet {
    position: absolute;
   left: 98px;
    bottom: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transform: rotate(90deg);
}

.cardnet {
    
  background: #626060;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 124.83978271484375px;
  height: 192.23947143554688px;
  border: 2.82px solid #000;
  border-radius: 6.76px;
}
.inner {
  width: 76.824462890625px;
  height: 147.183349609375px;
  /* border: 2.82px solid #000; */
  background: #111110;
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 40% 100%, 0 80%, 0 20%);
}

.small-dot {
  position: absolute;
      right: 52px;
    top: 105px;
  width: 26.261756896972656px;
  height: 26.261756896972656px;
  background: #28292b;
  border-radius: 50%;
}

.card_text {
  position: absolute;
    bottom: 10px;
    left: 60px;
}

.card_text span {
  font-family: Segoe UI;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  
 
}

.inner .dot {
  width: 24.00765037536621px;
  height: 18.022451400756836px;
  background: #d9d9d9;

  border-radius: 3.38px;
}
.inner .one {
  top: 54px;
  position: absolute;
  right: 61px;
}
.inner .two {
  top: 90px;
  position: absolute;
  left: 64px;
}
.inner .three {
  top: 128px;
  position: absolute;
  right: 61px;
}








.sys-cir-la {
  position: relative;
     width: 300px;
  height: 100%;

}

.sys-section {
  position: absolute;
bottom: 31px;
      right: 92px;

  
}
.left-dot {
  margin-top: 5px;
 width: 80px;
height: 80px;
border-radius: 16px;
border: 3px solid #000 ;
background: #4B4B4B;
align-items: center;
    justify-content: center;
    display: flex;
}

.left-dot-cir{
    width: 32px;
height: 32px;
background: white;
border: 10px solid #141415;
    border-radius: 50px;

}
.system-RST {
    display: flex;
    align-items: baseline;
   position: absolute;
    top: -15px;
    left: -24px;
    gap: 6px;
}
.system-RST::after{
       content: "";
    width: 14px;
    height: 1px;
   background: #000;
    left: -21px;
    position: absolute;
    bottom: 0;

}
.system-RST::before{
       content: "";
    width: 14px;
    height: 1px;
    background: #000;
    left: -21px;
    position: absolute;
    top: 3px;

}

.half-rec{
    width: 20px;
    height: 7px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    display: block;
}


.sys_rec {
  font-family: Segoe UI;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  
}


.sys-rst{
        display: flex;
    justify-content: space-between;
    position: absolute;
   bottom: 11px;
    right: 109px;
    align-items: center;
        gap: 5px;
}
.en-text {
  font-family: Segoe UI;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  
}
.en-circle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #111110;
}
.link,
.act {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link_act1 {
  position: absolute;
  top: 15px;
  left: 25%;
  display: flex;
  gap: 18px;
  flex-direction: column;
}
.link_act {
  position: absolute;
  top: 15px;
  right: 35%;
  display: flex;
  gap: 18px;
  flex-direction: column;
}
.link-text,
.act-text {
  font-family: Segoe UI;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  
      transform: rotate(45deg);
}
.link-dot,
.act-dot {
  width: 15px;
  height: 15px;
  background: #111110;
  border-radius: 50px;
      margin-left: 26px;
}


.sys-rec-black{
    width: 51px;
height: 80px;
    position: absolute;
    bottom: 31px;
    right: 0px;
border-radius: 8px;
border: 3px solid #000;
background: #4B4B4B;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 3px;


}

.sys-rec-black-one{
    width: 7px;
height: 60px;

background: #29292B;

}
.sys-rec-black-two{
  width: 15px;
height: 60px;
background: #29292B;

}
.sys-rec-black-three{
  width: 15px;
height: 60px;
}
.sys-rec-black-three .part{
width: 13px;
height: 10px;
    margin-bottom: 2.4px;
background: #29292B;

}





.chip-section {
  height: 100%;
 width: 140px;
  position: relative;
     
}


.console{
    left: 20%;
    position: absolute;
    width: 99px;
    height: 162px;
    border: 2px solid #000000;
    background: #D9D9D9;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.con-sole-text{
       left: 44px;
    position: absolute;
   top: 14px;
}
.mgmt-eth{
        bottom: 36px;
    position: absolute;
    left: 39px;
}


.leftee{
     height: 100%;
      width: 1089px;
        position: relative;
}





.chip-section-one {
  display: flex;
  justify-content: space-between;
  gap: 57px;
  position: absolute;
  bottom: 45px;
}
.chip2 {
  position: relative;
  width: 85.38041687011719px;
  height: 70px;
}
.chip2-rot{
        transform: rotate(180deg);
}
.chip_inner_box {
  position: relative;
  top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chip2-rec2 {
  background: #191718;
  width: 40px;
  height: 8.538041114807163px;
  position: absolute;
  top: 10px;
  right: 23px;
}
.chip2-rec1 {
      background: #fffeff;
    width: 30px;
    height: 7px;
    position: absolute;
    top: 3px;
    right: 28px;
}
/* LEDs */
.led {
  width: 12px;
  height: 8px;
  position: absolute;
  top: 12px;
}

.led.yellow {
 z-index: 20;
    top: -4px;
    background: #d5c331;
    left: 7px;
    width: 11.384056091308594px;
    height: 8.538041114807129px;
     border: 1px solid #fff;
    border-radius: 1px;
}

.led.green {
      z-index: 20;
    top: -4px;
    background: #1f7838;
    left: 66px;
    width: 11.384056091308594px;
    height: 8.538041114807129px;
    border: 1px solid #fff;
    border-radius: 1px;
}

.chip-port {
  position: relative;
  left: 0px;
  width: 65.45832061767578px;
  height: 45.536224365234375px;

  background: #191718;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 6px;
}

.chip-pins {
  display: flex;
  gap: 4px;
}
#chip-port1 {
  width: 6px;
  height: 17.076082229614258px;
  background-color: white;
  position: relative;
  top: -9px;
  left: 2px;
}

#chip-port12 {
  width: 6px;
  height: 17.076082229614258px;
  background-color: white;
  position: relative;
  top: -9px;
  left: -2px;
}
.chip-pins span {
  width: 2.8460140228271484px;
  height: 17.076082229614258px;

  background: #888888;
}






.four-chip-section{
    height: 100%;
    position: relative;
   width: 410px;
}



.gefe-one{
    left: 0;
    position: absolute;
    width: 196px;
    height: 162px;
    border: 2px solid #000000;
    background: #D9D9D9;
    top: 15%;
        padding: 10px;
   
}
.gefe-two{
    right: 0;
    position: absolute;
    width: 196px;
    height: 162px;
    border: 2px solid #000000;
    background: #D9D9D9;
    top: 15%;
        padding: 10px;
   
}

.chip2-four-top {
    background: #191718;
    width: 40px;
    height: 8.538041114807163px;
    position: absolute;
    top: 10px;
    right: 23px;
}


.chip2-rec1-four {
    background: #fffeff;
    width: 30px;
    height: 7px;
    position: absolute;
    top: 3px;
    right: 27px;
}
.led.grey {
 z-index: 20;
    top: -4px;
  background: #848484;


    left: 3px;
    width: 11.384056091308594px;
    height: 8.538041114807129px;
     border: 1px solid #fff;
    border-radius: 1px;
}
.led.grey2 {
 z-index: 20;
    top: -4px;
   background: #848484;


    right: 3px;
    width: 11.384056091308594px;
    height: 8.538041114807129px;
     border: 1px solid #fff;
    border-radius: 1px;
}

.four-chip{
    display: flex;
}

.four-chip-rotate  {
    display: flex;
    transform: rotate(180deg);
}




.four-chip-rotate-two {
    display: flex;
}


.chip-section-mid{
        height: 100%;
    width: 140px;
    position: absolute;
        right: 45%;
}


.mid-rot{
      transform: rotate(180deg);
}


.GE-FE{
width: 410px;
    height: 26px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    position: absolute;
    bottom: 22px;
}

.GE-FE span{
       width: 43px;
    height: 37px;
    position: absolute;
    bottom: -17px;
    left: 48%;
    background: #F2F2F2;
    text-align: center;
    align-items: center;
    display: flex;
}



.triangle-count-section{
width: 819px;
    height: 26px;
    position: absolute;
    top: 13px;
    display: flex;
    align-items: center;
   
gap: 20px;
    padding-left: 20px;
}

.first-tri{
    display: flex;
       gap: 36px;
}
.second-tri{
    display: flex;
   
         gap: 36px;
    padding-left: 37px;
}
.triangle-count img{
        width: 15px;
}

.ploy-rotate{
     transform: rotate(180deg);
}




.blank-chip-section{
  height: 100%;
        position: relative;
    width: 512px;
   
}
.blank-chip-six{
  display: flex;
  position: absolute;
  bottom: 24%;
  padding-left: 10px;
}
.chip2-blank {
    position: relative;
    width: 80px;
    height: 70px;
     transform: rotate(180deg);
}
.chip-port-blank {
    position: relative;
    left: 0px;
   width: 71px;
height: 51px;
border: 1px solid #000;
background: #393939;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 6px;
}

.chip2-four-top-blank {
    background: #888888;
    width: 40px;
    height: 8.538041114807163px;
    position: absolute;
    top: 10px;
    border: 0.25px solid #5A5858;
    right: 23px;
}


.chip2-rec1-four-blank {
    background: #888888;
    width: 30px;
    height: 7px;
    position: absolute;
    top: 3px;
    right: 27px;
    border: 0.25px solid #5A5858
}

.GE-GE-FE {
    width: 150px;
    height: 26px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    position: absolute;
      top: 100px;
    left: 14px;
}
.GE-GE-FE span {
        width: 92px;
    height: 37px;
    position: absolute;
    bottom: 6px;
    left: 20%;
    background: #F2F2F2;
    text-align: center;
    align-items: center;
    display: flex;
}

.GE-FE-blank {
   
    width: 327px;
    height: 26px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    position: absolute;
    top: 100px;
    right: 12px;
}

.GE-FE-blank span {
    width: 44px;
    height: 37px;
    position: absolute;
    bottom: 6px;
    left: 42%;
    background: #F2F2F2;
    text-align: center;
    align-items: center;
    display: flex;
}

.blank-gap{
      left: 16px;
}


.sys-en-bl {
       display: flex;
    justify-content: space-between;
    position: absolute;
   bottom: 32px;
    right: 26px;
    align-items: center;
    gap: 55px;
}
.sys-rst-blank {
    display: flex;
    justify-content: space-between;
   gap: 5px;
    align-items: center;
  
}
.en-circle-blank {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #111110;
}


















.ending {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 83px;
  height: 100%;
  padding: 7px 0px 0px;
  background: #2b2b2b;
  border-radius: 5px 0px 0px 5px;
  float: right;
}

.circle-end {
  width: 31px;
  height: 30px;
  border-radius: 50%;
  border: 1.4px solid #707070;
  background: #acadaf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cir_end {
  width: 17px;
  height: 16px;

  border-radius: 50%;
  border: 1.4px solid #707070;
  background: #ffffff;
}




@media (max-width:768px){
.Device-A822-for-responsive{
   overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
}
