* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
 padding:40px 20px;
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
}

.head {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #262626;
  margin-bottom: 10px;
}

.starting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 83px;
  height: 100%;
  padding: 7px 0px 0px;
  background: #2b2b2b;
  border-radius: 5px 0px 0px 5px;
}

.start_point {
  gap: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid_point {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.end_point {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  position: relative;
}
.pill {
  background: #fff;
}

.vertical {
  width: 48.5333251953125px;
  height: 11.762365341186523px;
  border-radius: 40%;
}

.circle {
  width: 15.253334045410156px;
  height: 7.188112258911133px;
  border-radius: 50%;
}

.horizontal {
  width: 12.480002403259277px;
  height: 22.871265411376953px;
  border-radius: 5px;
}

.big {
  width: 27.73333168029785px;
  height: 19.60394287109375px;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  bottom: -3px;
}













.device_AR6140-9G-2AC {
  width: 1872px;
  height: 266px;
  border: 2.82px solid #000;
  border-radius: 8px;
  display: flex;
  flex-direction: row;

}

.connection-section {
  width: 100%;
  background: #f5f5f5;
  position: relative;
}
.lorem-section {
  width: 150px;
  height: 100%;
  position: absolute;
}

.lorem-section table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

td {
  border: 2px solid #000000;
  text-align: center;
}

.top {
  height: 28px;
  width: 100%;
}

.top-two{
    width:50px
}
.middle td {
  height: 28px;
}

.middle-one{
    border-right: none;padding-right: 10px;
}
.middle-two{
    border-left: none;text-align: justify;
}

.content {
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 20px;
  padding-top: 46px;
  height: 150px;
}
.circle-table1 {
  width: 67px;
  height: 67px;
  background: #d9d9d9;
     padding: 8px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 0px 0px 0px 6px;

}
.circle-table1-inner {
  width: 47px;
  height: 47px;
  background: #d9d9d9;
 position: relative;
  border: 2px solid #000;
  border-radius: 50%;

}

.circle-table1-inner:before,
.circle-table1-inner:after {
  content: "";
  position: absolute;
  background: #0c100f;
}
.circle-table1-inner:before {
  width: 10px;
  height: 2px;
      top: 50%;
  left: 39%;
}

.circle-table1-inner:after {
  width: 2px;
height: 10px;
    top: 39%;
    left: 50%;
}

.table-text {
 font-family: Segoe UI;
font-weight: 400;
font-size: 16px;
letter-spacing: 0%;
    text-align: left;
    padding: 10px;
}







.switch-section {
     width: 45%;
  height: 100%;
  position: absolute;
  margin-left: 148px;
}
.top-one-switch{
    width: 45%;
}
.switch-section table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.socket-half {
  width: 40px;
  height: 38px;
  background: #d9d9d9;
  position: absolute;
  border-top: 2.82px solid #747578;
  border-bottom: 2.82px solid #747578;
  top: 16px;
  left: 1px;
}

.socketplus {
  width: 38px;
  height: 38px;
  border: 7px solid #000;
  border-radius: 30px;
  padding: 3.35px;
  position: absolute;
  left: 20px;
  top: -2px;
  background: #474342;
}
.socketplus:before,
.socketplus:after {
  content: "";
  position: absolute;
  background: #0c100f;
}
.socketplus:before {
  width: 13px;
  height: 2px;
  top: 12px;
  left: 6px;
}

.socketplus:after {
  width: 2px;
  height: 13px;
  top: 6px;
  left: 11.6px;
}

.socket-half-mid {
  width: 40px;
  height: 38px;
  background: #d9d9d9;
  position: absolute;
  border-top: 2.82px solid #747578;
  border-bottom: 2.82px solid #747578;
  bottom: 16px;
  left: 1px;
}

.socketfull {
  position: relative;
}

.socket-full {
  width: 80px;
  height: 38px;
  background: #d9d9d9;
  position: absolute;
  border-top: 2.82px solid #747578;
  border-bottom: 2.82px solid #747578;
  top: 15px;
  left: -42px;
}


.socket-half-top-one {
    width: 40px;
    height: 38px;
    background: #d9d9d9;
    position: absolute;
    border-top: 2.82px solid #747578;
    border-bottom: 2.82px solid #747578;
    top: 16px;
    right: -1px;
    transform: rotate(180deg);
}



.socket-full-top-two {
  width: 80px;
  height: 38px;
  background: #d9d9d9;
  position: absolute;
  border-top: 2.82px solid #747578;
  border-bottom: 2.82px solid #747578;
  top: 22px;
  right: -34px;
}

.socketplus-full {
  width: 38px;
  height: 38px;
  border: 7px solid #000;
  border-radius: 30px;
  padding: 3.35px;
  position: absolute;
  left: -17px;
  top: -2px;
  background: #474342;
}

.socketplus-full:before,
.socketplus-full:after {
  content: "";
  position: absolute;
  background: #0c100f;
}
.socketplus-full:before {
  width: 13px;
  height: 2px;
  top: 12px;
  left: 6px;
}

.socketplus-full:after {
  width: 2px;
  height: 13px;
  top: 6px;
  left: 11.6px;
}

.socketplus-full2 {
  width: 38px;
  height: 38px;
  border: 7px solid #000;
  border-radius: 30px;
  padding: 3.35px;
  position: absolute;
  right: -17px;
  top: -2px;
  background: #474342;
}

.socketplus-full2:before,
.socketplus-full2:after {
  content: "";
  position: absolute;
  background: #0c100f;
}
.socketplus-full2:before {
  width: 13px;
  height: 2px;
  top: 12px;
  left: 6px;
}

.socketplus-full2:after {
  width: 2px;
  height: 13px;
  top: 6px;
  left: 11.6px;
}

.socketfullthree {
  position: relative;
}

.socket-fullthree {
  width: 80px;
  height: 38px;
  background: #d9d9d9;
  position: absolute;
  border-top: 2.82px solid #747578;
  border-bottom: 2.82px solid #747578;
  top: 22px;
  right: -38px;
}

.mid-td-two {
  position: relative;
}

.socket-full-mid-two {
  width: 80px;
  height: 38px;
  background: #d9d9d9;
  position: absolute;
  border-top: 2.82px solid #747578;
  border-bottom: 2.82px solid #747578;
      bottom: 15px;
    left: -44px;

}

.socket-half-top-four {
  width: 40px;
  height: 38px;
  background: #d9d9d9;
  position: absolute;
  border-top: 2.82px solid #747578;
  border-bottom: 2.82px solid #747578;
  top: 16px;
  right: 1px;
  transform: rotate(180deg);
}

.socket-half-mid-two {
  width: 40px;
  height: 38px;
  background: #d9d9d9;
  position: absolute;
  border-top: 2.82px solid #747578;
  border-bottom: 2.82px solid #747578;
  bottom: 16px;
  right: -1px;
  transform: rotate(180deg);
}





.socket-two{
      width: 46%;
    height: 100%;
    position: absolute;
    right: 0;
}

.socket-half-top-one-right {
    width: 40px;
    height: 38px;
    background: #d9d9d9;
    position: absolute;
    border-top: 2.82px solid #747578;
    border-bottom: 2.82px solid #747578;
            top: 113px;
    left: -8px;
      z-index: 1;
}
.socket-half-top-two-right {
    width: 40px;
    height: 38px;
    background: #d9d9d9;
    position: absolute;
    border-top: 2.82px solid #747578;
    border-bottom: 2.82px solid #747578;
            top: 113px;
  right: 0;
    transform: rotate(180deg);
    
}

.socket-partition {
    position: absolute;
    width: 100%;
    height: 2.2px;
    background: #000;
    top: 50%;
    z-index: 0;
}



.sn-boxes{
    width: 100px;
    display: grid;
    grid-template-columns: 60px 60px;
    row-gap: 10px;
    column-gap: 18px;
        position: absolute;
    top: 12%;
    left: 20%;

}


.sn-box1 , .sn-box3{
width: 60px;
height: 33px;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
background: #D9D9D9;

}

.sn-box2 ,.sn-box4{
    width: 35px;
height: 28px;
border-bottom: 1px solid #000;



}










.two-card-poly{
   position: absolute;
    display: flex;
    justify-content: space-between;
    width: 45%;
    bottom: -15px;
    left: 35%;
}

.card_polynet {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transform: rotate(90deg);
}
.card_polynet2 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transform: rotate(90deg);
}

.cardnet {
    
  background: #626060;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
       width: 85.839783px;
    height: 160.239471px;
  border: 2.82px solid #000;
  border-radius: 6.76px;
}
.inner {
   width: 60.824463px;
    height: 125.18335px;
  background: #111110;
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 40% 100%, 0 80%, 0 20%);
}

.small-dot {
  position: absolute;
      right: 52px;
    top: 105px;
  width: 26.261756896972656px;
  height: 26.261756896972656px;
  background: #28292b;
  border-radius: 50%;
}

.card_text {
    position: absolute;
    bottom: 15px;
    left: -36px;
}
.card_text2 {
    position: absolute;
    bottom: 15px;
    right: -36px;
}

.card_text span {
  font-family: Segoe UI;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  
 
}

.inner .dot {
      width: 20.00765px;
    height: 16.022451px;
  background: #d9d9d9;

  border-radius: 3.38px;
}
.inner .one {
     top: 73px;
    position: absolute;
    right: 45px;
  
}
.inner .two {
bottom: 40px;
    position: absolute;
    left: 44px;
}
.inner .three {
      top: 40px;
    position: absolute;
    right: 24px;
}





.card_polynet::after {
    content: "◀ PWR2";
    font-weight: 600;
    transform: rotate(270deg);
    position: absolute;
    bottom: 198px;
    left: 1px;
}

.card_polynet2::after {
      font-weight: 600;
    content: "◀ PWR2";
    transform: rotate(270deg);
    position: absolute;
    bottom: 198px;
    left: 1px;
}








.ending {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 83px;
  height: 100%;
  padding: 7px 0px 0px;
  background: #2b2b2b;
  border-radius: 5px 0px 0px 5px;
  float: right;
}

.circle-end {
  width: 31px;
  height: 30px;
  border-radius: 50%;
  border: 1.4px solid #707070;
  background: #acadaf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cir_end {
  width: 17px;
  height: 16px;

  border-radius: 50%;
  border: 1.4px solid #707070;
  background: #ffffff;
}


@media (max-width:768px){
.Device-AR6140-9G-2AC-for-responsive{
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
}
